<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Прогноз Погоды</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image" href="https://code.s3.yandex.net/web-code/rules-favicon.ico">
</head>
<body>
 <header class="header">
    <div class="overlay">
      <h1 class="header-title">Узнайте какая погода у вас в городе прямо сейчас</h1>
        <h2> Введите название города</h2>
       <h3><input type="text" size="40"></h3>
        <input type="submit" name="send" value="Узнать" class="mt-2 btn btn-danger">

        
    </div>
  </header>
  <footer class="footer">
    <h4 class="footer-author">Anastasia K.</h4>
  </footer>

</body>

</html>


