<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Weather Forecast</title>

    <link rel="icon" type="image" href="https://code.s3.yandex.net/web-code/playlist-favicon.ico">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<header class="header">
    <h2 class="overlay">
        <h1 class="header-title">weather<br>app</h1>
    </h2>
</header>

<h1 class="between">
    <div>
    <form method="POST">
        {% csrf_token %}
        <p>Enter the name of the city<br>{{ form }}</p>
        <input  type="submit" value="Send">

    </form>
    <a>

    {% if weather %}
    Weather in {{ weather.name }}:
    <br>{{ weather.weather.0.description }}
    <br>Temperature {{ weather.main.temp|floatformat:0 }}°
    <br>Feels like {{ weather.main.feels_like|floatformat:0 }}°
    <br>{% if weather.wind.deg <= 22.5 %}Northern Wind
    {% elif weather.wind.deg <= 67.5 %}Northeast Wind
    {% elif weather.wind.deg <= 112.5 %}Eastern Wind
    {% elif weather.wind.deg <= 157.5 %}Southeast Wind
    {% elif weather.wind.deg <= 202.5 %}South Wind
    {% elif weather.wind.deg <= 247.5 %}Southwest Wind
    {% elif weather.wind.deg <= 292.5 %}West Wind
    {% elif weather.wind.deg <= 337.5 %}Northwest Wind
    {% else %}Northern Wind
    {% endif %} {{ weather.wind.speed|floatformat:1 }}m/s
    <br>Humidity {{ weather.main.humidity }}%
    {% endif %}
    </a>
    </div>
</h1>
<footer class="footer">
    <h3>Made by</h3>
    <h4 class="footer-author">Anastasia K.</h4>
</footer>
</body>
</html>
